<div class="container">
    <div class="row">
        <div [ngClass]="{'col-md-8': !min, 'col-md-12': min}">
            <div class="form-group">
                <form [formGroup]="form">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input class="form-control form-control-sm" id="nombre" [(ngModel)]="componente.nombre" formControlName="nombre"/>
                        <label-error [control]="form.controls.nombre" [name]="'nombre'" [length]="{min:3, max:200}"></label-error>
                    </div>

                    <div class="form-group">
                        <label for="fk_tipocomponente">Tipo componente</label>
                        <select class="form-control form-control-sm" id="fk_tipocomponente" [(ngModel)]="componente.fk_tipocomponente" formControlName="fk_tipocomponente"
                        [compareWith]="compareByOptionId">
                            <option [ngValue]="null" disabled>Seleccione</option>
                            <option *ngFor="let opt of tipocomponente" [ngValue]="opt">{{opt.clave}}</option>
                        </select>
                        <label-error [control]="form.controls.fk_tipocomponente" [name]="'tipo de componente'"></label-error>
                    </div>

                    <div class="form-group" *ngIf="!min">
                        <label for="ubicacion">Ambientes</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td scope="col">
                                <input type="text" class="form-control form-control-sm" placeholder="Nombre Ambiente" [(ngModel)]="ambiente.nombre" [ngModelOptions]="{standalone: true}"/>
                              </td>
                              <td scope="col">
                                <input type="text" class="form-control form-control-sm" placeholder="Ubicación" [(ngModel)]="ambiente.ubicacion" [ngModelOptions]="{standalone: true}"/>
                              </td>
                              <td scope="col" style="text-align: center;">
                                <button class="btn btn-primary" (click)="guardaAmbiente()">Guardar</button>
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let _ambiente of componente.ambientes;let indexOfelement=index;">
                              <td>
                                {{_ambiente.nombre}}
                              </td>
                              <td>
                                {{_ambiente.ubicacion}}
                              </td>
                              <td>
                                <div class="form-group row">
                                  <div class="col-md-6">
                                    <button class="btn btn-success" (click)="seleccionaAmbiente(indexOfelement, _ambiente)">👁️</button>
                                  </div>
                                  <div class="col-md-6">
                                    <button class="btn btn-danger" (click)="quitaAmbiente(indexOfelement)">🗑️</button>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <label for="nota">Nota</label>
                        <textarea class="form-control form-control-sm" id="nota" [(ngModel)]="componente.nota" formControlName="nota"></textarea>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-success" (click)="guardar()" [disabled]="!form.valid">
                            Guardar
                        </button>
                        <button class="btn btn-secondary" (click)="limpiar()">
                            Limpiar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4" *ngIf="!min">
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
